@model FEMM20250326.AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "Añadir bodega";
}

<h1>Añadir bodega</h1>

<h4>Bodega</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="WarehouseName" class="control-label">Bodega</label>
                    <input asp-for="WarehouseName" class="form-control" />
                    <span asp-validation-for="WarehouseName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Notes" class="control-label">Notas</label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
